@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Control Smart Web</h1>
    <h2>Sistema de gerenciamento de SmartPhones</h2>
</div>
